In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from sklearn.model_selection import train_test_split

In [62]:
df = pd.read_csv('Titanic.csv')
surv = df['survived']
df = df.drop(columns=['parch','ticket','fare','cabin','embarked','boat','body','home.dest','survived'])

xTrain, xTest, yTrain, yTest = train_test_split(df, surv, test_size=0.2, random_state=41)
print(len(xTest.index)/len(xTrain.index))

xTrain = xTrain.sort_index()
xTest = xTest.sort_index()
yTrain = yTrain.sort_index()
yTest = yTest.sort_index()
print(xTrain)
print(yTrain)

0.2502387774594078
      Unnamed: 0 pclass                             name     sex      age  \
1              2    1st   Allison, Master. Hudson Trevor    male   0.9167
2              3    1st     Allison, Miss. Helen Loraine  female   2.0000
3              4    1st  Allison, Mr. Hudson Joshua Crei    male  30.0000
4              5    1st  Allison, Mrs. Hudson J C (Bessi  female  25.0000
5              6    1st              Anderson, Mr. Harry    male  48.0000
...          ...    ...                              ...     ...      ...
1304        1305    3rd             Zabour, Miss. Hileni  female  14.5000
1305        1306    3rd            Zabour, Miss. Thamine  female      NaN
1306        1307    3rd        Zakarian, Mr. Mapriededer    male  26.5000
1307        1308    3rd              Zakarian, Mr. Ortin    male  27.0000
1308        1309    3rd               Zimmerman, Mr. Leo    male  29.0000

      sibsp
1         1
2         1
3         1
4         1
5         0
...     ...
1304      1
1305      1
1306      0
1307      0
1308      0

[1047 rows x 6 columns]